<html>
    <head>
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/all.min.css">
      <link rel="stylesheet" href="/static/index_style.css">
    
    </head>
   
    <body>
      
 
      <!-- Start header-->
      <header class="home">
        <div class="layer">
        <div class="caption d-flex justify-content-center align-items-center flex-column">
        <h1 class="hd"> CHANCE OF HEART  ATTACK </h1>
          <p class="typewriter animated"></p>
          <p>“Never feel guilty for protecting your heart.”</p>
           <a class="border rounded-pill p-3" href="{{ url_for('form') }}">Check Now! </a>
          <div class="scroll rounded-pill">
            <a href=""></a>
          </div>
        </div>
        </div>
      </header>
      <!--End header-->

      

<script src="/static/js/jquery-3.5.1.slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>